*{
    margin: 0px;
    padding: 0px;
    
}
body{
    background-color: #f5f5f5;
}
.fira-sans-regular {
    font-family: "Fira Sans", serif;
    font-weight: 400;
    font-style: normal;
  }
  .banner{
    display: flex;
    justify-content: space-between;
    margin:24px 160px;
  }
  .title{
    font-size: 30px;
    font-weight: bold;
  }
  .signin{
    font-size: 600;
    padding: 15px 30px;
    border: 1px solid #006A50 ;
    border-radius: 8px;
    background-color: #ffffff;
    color: #006A50;
  }
  .signin:hover{
    background-color: #006A50;
    color: white;
  }
  .hero{
    display: flex;
    justify-content: space-between;
    margin: 0px 160px 80px;
    padding: 80px 100px;
    height: auto;
    background-color: #C6E4D6;
    border-radius: 24px;
  }
  .bd1{
    font-size: 24px;
    font-weight: 500;
    color: #696969;

  }
  .idea{
    font-size: 56px;
    font-weight: bold;
  }
  .btn2{
    padding: 17px 34px;
    background-color: #006A50;
    border-radius: 8px;
    font-size: 18px;
    font-weight: 600px;
    color: #ffffff;
    border: 0px;
    margin-top: 24px;
  }
  .btn2:hover{
    background-color: red;
    color: white;
  }
  .box:hover{
    background-color: rgb(225, 210, 210);
    color: white;
  }
.text2{
    margin: 0px 160px;

}
.pillar{
    font-size: 40px;
    font-weight: bold;
    margin-bottom: 32px;
}
.allbox{
    display: flex;
    justify-content: space-between;
}
.box{
    border: 1px solid #dedddd;
    padding: 24px;
    width: 302px;
    margin-right: 24px;
    border-radius: 16px;
    background-color: #ffffff;
}
.pname{
    font-size: 20px;
    font-weight: bold;
    margin: 24px auto 12px auto;
}
.ptext{
    font-size: 16px;
    color: #696969;
}
.visionsection{
    margin: 80px 160px 32px;
}
.vtitle{
    font-size: 40px;
    font-weight: bold;
    margin-bottom: 24px;
}
.vtext{
    color: #6b6b6b;
}
.vtext2{
    color: #6b6b6b;
    margin-bottom: 24px;
}
.vframe{
    display: flex;
    justify-content: space-between;
    margin: 32px 0px;
}
.vtile{
    font-size: 20px;
    font-weight: bold;
    margin: 24px 0px 12px 0px;
}
.frame{
    width: 411px;
    padding: 32px;
    border-radius: 16px;
}
.frame1{
    background-color: #c9dbfa;
}
.frame2{
    background-color: #C6E4D6;
    margin: 0px 32px;
}
.frame3{
    background-color: #F7EBCF;
}
.visionbtn{
    padding: 11px 20px;
    border: 0px;
    font-size: 16px;
    font-weight: 600;
    color: #ffffff;
    border-radius: 8px;
}
#blue:hover{
    background-color: red;
}
#green:hover{
    background-color: red;
}
#orange:hover{
    background-color: red;
}
#blue{
    background-color: #5490F5;
}
#green{
    background-color: #09A15C;
}
#orange{
    background-color: #FFC239;
}
.news{
    margin: 60px 160px 24px;
    font-size: 40px;
    font-weight: bold;
}
.newstitle{
    margin: 24px 160px 32px;
    font-size: 16px;
    color: #696969;
}
.newsbar{
    background-color: white;
    border-radius: 24px;
    margin: 0px 160px 24px;
    padding: 48px ;
    display: flex;
    justify-content: space-between;
}
.newimage{
    margin-right: 32px;
    border-radius: 24px;
}
.img2{
    margin-left: 32px;
    border-radius: 24px;
}
.nt{
    font-size: 32px;
    font-weight: bold;
}
.logo{
    margin: 12px 0px;
}
.date{
    margin-bottom: 12px;
    color: #696969;
}
.ntext{
    color: #696969;
    margin-bottom: 32px;
}
.read{
    padding: 11px 20px;
    border: 0px;
    font-size: 16px;
    font-weight: 600;
    color: #ffffff;
    border-radius: 8px;
    background-color:#006A50 ;
}


.donate{
    margin: 80px 160px 24px;
    text-align: center;
    font-size: 40px;
    font-weight: bold;
}
.sub{
    margin: 24px 160px 0px;
}
.boxtt{
    display: flex;
    justify-content: space-between;
    margin: 32px 160px;
}
.boxnn{
    font-weight: bolder;
    font-size: 20px;
    border: 1px solid rgb(202, 202, 202);
    width: 240px;
    padding: 40px;
    align-items: center;
    text-align: center;
    border-radius: 16px;
    background-color: #ffffff;
}
.read:hover{
    background-color: #b3014e;
}
.boxnn:hover{
    background-color: #006A50;
    color: white;
}
.dui{
    background-color: #C6E4D6;
    margin: 0px 24px;
}
.tin{
    margin-right: 24px;
}
.takaa{
    text-align: center;
    background-color: #ffffff;
    padding: 20px;
    font-size: 16px;
    border: 0px;
    box-sizing: border-box;
    margin: 32px 160px 32px 160px;
    align-content: center;
}
.taka{
    border: 0px;
    margin-left: 13%;
    font-size: 32px;
}
.center1{
    text-align: center;
    margin-top: 32px;
}
.foot{
    margin: 80px 0px 0px;
    background-color: white;
}
.bd2{
    text-align: center;
    font-size: 20px;
}
.line{
    margin: 32px 160px;
}
.social{
    margin: 32px auto auto auto;
    text-align: center;
}
.insta{
    margin: 0px 32px 50px;
}
.fb {
    width: 300px;
}